<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/常用/src/常用/将一个字符数组的部分数据复制到另一个数组中.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="常用.将一个字符数组的部分数据复制到另一个数组中"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="常用"/>
</launchConfiguration>
